<div class="box" *ngIf="!this.uploaded && !this.url">
    <p class="title">
        Subi tu libro
    </p>
    <p class="subtitle">
        El archivo debe ser PDF
    </p>
    <div class="containerImage" appDnd (fileDropped)="dragDrop($event)">
        <img src="../../../assets/image.svg">
        <input class="dropzone" type="file" #fileDropRed id="fileDropRef">
        <p class="textincontainerimage">
            Arrastra y solta tu archivo aquí
        </p>
    </div>
    <p class="or">
        o
    </p>

    <span class="btn btn-primary btn-file" for="single">
        Elegi desde aquí
        <input type="file" accept="image/*" (change)="buttonUpload($event)" id="single" [disabled]="uploaded">
    </span>

</div>


<div class="box boxImageUploaded" *ngIf="this.url">
    <span class="material-symbols-outlined">
        check_circle
    </span>
    <label class="uploadedImage">Se subio correctamente!</label>
    <img [src]="this.url">

    <div class="input-group mb-3">
        <input type="text" class="form-control inputUrl" [placeholder]="this.url" aria-label="Url"
            aria-describedby="button-addon2" disabled>
        <button class="btn btn-primary" type="button" id="button-addon2" (click)="copyToClipboard()">Copy
            Link!</button>
    </div>
</div>