<div class="box" *ngIf="!this.uploaded">
    <p class="title">
        Subi tu libro
    </p>
    <p class="subtitle">
        El archivo debe ser PDF
    </p>
    <div class="containerImage" appDnd (fileDropped)="dragDrop($event)">
        <img src="../../../assets/image.svg">
        <input class="dropzone" type="file" #fileDropRed id="fileDropRef">
        <p class="textincontainerimage">
            Arrastra y solta tu archivo aquí
        </p>
    </div>
    <p class="or">
        o
    </p>
    <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Elegi desde aquí</button>
    <input hidden (change)="buttonUpload($event)" #fileInput type="file" id="file">

    <!-- <span mat-raised-button color="primary" class="btn btn-primary btn-file" for="single">
        Elegi desde aquí
        <input type="file" accept="image/*" (change)="buttonUpload($event)" id="single" [disabled]="uploaded">
    </span> -->

</div>