.containerSteps {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    
    display: flex;
}


.card-item{
    
    margin: 2em auto;
    text-align: center;
    
    flex-wrap: wrap;
    flex-direction: column;
    
    display:flex
}

.form{
    flex-direction: column !important;
}
// ng-template{
//     flex-direction: column !important;
// }
.field{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}