
<div class="carousel">

    <p-carousel [value]="listadoLibros" [numVisible]="4" [numScroll]="1" [circular]="false" >
        <ng-template pTemplate="header">
            <p>Ultimos libros agregados</p>
        </ng-template>
        <ng-template let-libro pTemplate="item">
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                <div class="mb-3">
                    <img src="{{libro.libro.urlImagen}}" [alt]="libro.titulo" class="w-6 shadow-2" />
                </div>
                <div>
                    <h4 class="mb-1">{{ libro.libro.titulo }}</h4>
                    <h5 class="mt-0 mb-3">{{ '' + libro.libro.autor }}</h5>
                    <!-- <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(libro.inventoryStatus)"></p-tag> -->
                    <div class="mt-5 flex align-items-center justify-content-center gap-2">
                        <p-button [rounded]="true" (click)="verLibro(libro.libro)" label="Ver libro"/>
                        <p-button icon="pi pi-star-fill" [rounded]="true" severity="secondary" />
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>


    <div *ngFor="let libros of listadoLibrosPorCategoria">
    
        <!-- <div *ngFor="let lib of libros.libro "> -->
            
                <p-carousel [value]="libros.libro | keyvalue" [numVisible]="4" [numScroll]="1" [circular]="false" >
                    <ng-template pTemplate="header">
                        <p>{{libros.categoria}}</p>
                    </ng-template>
                    
                    <ng-template let-lib pTemplate="item">
                        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                            <div class="mb-3">
                                <img src="{{lib.value.urlImagen}}" [alt]="lib.value.titulo" class="w-6 shadow-2" />
                            </div>
                            <div>
                                <h4 class="mb-1">{{ lib.value.titulo }}</h4>
                                <h5 class="mt-0 mb-3">{{ '' + lib.value.autor }}</h5>
                                <div class="mt-5 flex align-items-center justify-content-center gap-2">
                                    <p-button [rounded]="true" (click)="verLibro(lib.value)" label="Ver libro"/>
                                    <p-button icon="pi pi-star-fill" [rounded]="true" severity="secondary" />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            
        <!-- </div> -->
        
    </div>
    
    
</div>

