<!-- <p-carousel [value]="listImages" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
    [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template let-image pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="mb-3">
                    <img [src]="image.img" [alt]="listImages" class="product-image" />
                </div>

            </div>
        </div>
    </ng-template>
</p-carousel> -->
<mat-list class="titleLibrosAgregados">
    <mat-list-item></mat-list-item>

    <mat-list-item>
        Ultimos libros agregados
    </mat-list-item>

</mat-list>


<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let libro of listadoLibros" class="slide">
        <img src="{{ libro.urlImagen }}" alt="" width="70%">
    </div>
</ngx-slick-carousel>