<p-card class="card-item">
    <ng-template pTemplate="title">
        Categorias
    </ng-template>
    <ng-template pTemplate="subtitle">
        Seleccione una categoria
    </ng-template>
    <ng-template pTemplate="content">
        <form [formGroup]="this.dataService.form">
            <div *ngIf="categorias" class="p-fluid" class="field">
                
                    <p-dropdown (onChange)="changeDropdown()" formControlName="categoria" [options]="categorias" placeholder="Seleccione categoria"></p-dropdown>
                    <small *ngIf="this.dataService.isFieldInvalid('categoria')" class="p-error">Debe seleccionar una categoria.</small>
            </div>
            <div class="check">
                <label for="ny">Nueva categoria: </label>
                <p-checkbox (onChange)="changeCategoriaCheckbox(this.dataService.form.get('checkCategoria')?.value)" value=true formControlName="checkCategoria" inputId="ny"></p-checkbox>
                <input *ngIf="this.dataService.form.get('checkCategoria')?.value[0]" formControlName="altaCategoria" id="categoria" type="text" required pInputText> 
            </div>
                

        </form>
        
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-end">
            <p-button label="Atras" (onClick)="previousPage()" icon="pi pi-angle-left" iconPos="left"></p-button>
            <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>
</p-card>